@layer reset, theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/*@import "tailwindcss/preflight.css" layer(base);*/
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --background: #505f58;
  --foreground: #171717;
  --white-hsl: 276,12.2%,91.96%;
  --black-hsl: 274.62,24.53%,41.57%;
  --safeLightAccent-hsl: 276,12.2%,91.96%;
  --safeDarkAccent-hsl: 0,0%,0%;
  --safeInverseAccent-hsl: 0,0%,0%;
  --safeInverseLightAccent-hsl: 0,0%,0%;
  --safeInverseDarkAccent-hsl: 0,0%,100%;
  --accent-hsl: 276,12.2%,91.96%;
  --lightAccent-hsl: 272.73,64.71%,96.67%;
  --darkAccent-hsl: 150,9.09%,34.51%
  --segment-indicator-bg: #ffffff
}

@theme inline {
  /*--color-background: var(--background);*/
  --color-background: #505f58;
  --color-foreground: var(--foreground);
  --siteBackgroundColor: hsla(var(--white-hsl),1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #505f58; /* #0a0a0a; */
    --foreground: #171717; /* #ededed;*/
  }
}

body {
  background: var(--background);
  /*color: var(--foreground);*/
  color: white;
  font-family: "Frank Ruhl Libre", sans-serif; /* Arial, Helvetica */
}

.fancy {
  font-size: 128px;
}

.birthstone-bounce-regular {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 400;
  font-style: normal;
}

.birthstone-bounce-medium {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 500;
  font-style: normal;
}

.frankruhl-regular {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.question {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

